* {
    background-color: #eee;
    margin: 10px;
}

#conta {
    border: 1px solid #222;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

#head {
    /* background-color: aquamarine; */
    border:1px solid #222;
    height: 200px;
    padding-top: 5px;

}

#contin{
   
    display: flex;
    height: 100%;
}
#answers{
    background-color: bisque;
    border: 1px solid #222;
    width: 20%;
    height: auto;

}
#Quiz{
    background-color: azure;
    border: 1px solid #222;
    width: 80%;
    height:auto;
}